.lol-zed{
  background: url(../img/userIcon/zed.jpg);
  background-size: auto 100%;
}

.lol-leona{
  background: url(../img/userIcon/leona.jpg);
  background-size: auto 100%;
}

.lol-yi{
  background: url(../img/userIcon/yi.jpg);
  background-size: auto 100%;
}

.lol-lucian{
  background: url(../img/userIcon/lucian.jpg);
  background-size: auto 100%;
}

.lol-fiora{
  background: url(../img/userIcon/fiora.jpg);
  background-size: auto 100%;
}
